# Proje için gerekli olan ortam değişkenlerinin şablonudur.
# Bu dosyayı .env olarak kopyalayıp kendi ayarlarınla doldurabilirsin.

# Güvenlik ve API anahtarları
API_KEY=gizli_anahtar_buraya
DB_PASSWORD=veritabani_sifresi_buraya

#Uygulama Yapılandırması
APP_ENVIROMENT=development
DEBUG=true
